.env
.venv/
profiles.yml
target/
logs/
dbt_packages/
.DS_Store
mysecret.txt
.vscode
snowflake/bronze/schema.sql
airflow/.env
airflow/logs/
airflow/config/
airflow/plugins/
airflow/secrets/

__pycache__/
*.py[cod]