AIRFLOW_UID=50000
FERNET_KEY=replace_with_generated_key

DBT_SNOWFLAKE_ACCOUNT=your_account_identifier
DBT_SNOWFLAKE_USER=your_username
DBT_SNOWFLAKE_PASSWORD=your_password

AIRFLOW_CONN_SNOWFLAKE_BOOKSTORE=replace_with_airflow_connection_json